extends layout.pug

block content 

	form(action="/" method="post" enctype="multipart/form-data" class="post-form")
		textarea(class="u-full-width" id="body" name="body" placeholder="Start a new thread...")
		input(type="file" accept="image/*" name="image")
		input(class="button-primary" type="submit" value="Submit")
	if error
		div(class="error")=error
	hr

	each post in posts
		div(class="row post" id=post.id)
			- var time = new Date(post.time);
			- var id = post.id;
			a(class="post-id" href="/posts/"+post.id) #{id} | #{time.getMonth()}/#{time.getDate()}/#{time.getFullYear()} #{time.getHours()}:#{time.getMinutes()}:#{time.getSeconds()} | #{post.replies} replies
			div
				if post.image != ""
					img(class="post-image seven columns" src="/uploads/"+post.image)
				span(class="post-body seven columns")=post.body
			
		hr