mixin form(placeholder, action)
	form(method="post" enctype="multipart/form-data" class="post-form" action=action)
		div(class="form-group")
			textarea(class="form-control" id="body" name="body" placeholder=placeholder)
		div(class="form-group")
			label(class="switch-light" onclick="")
				input(type="checkbox" name="nsfw")
				span(class="well nsfw-toggle")
					span SFW
					span NSFW
					a(class="btn btn-primary")
		div(class="form-group")
			label(for="image" class="btn btn-primary form-control") Choose a file
			input(type="file" id="image" class="image-upload" accept="image/*" name="image")
		div(class="form-group")
			input(class="btn btn-primary form-control" type="submit" value="Submit")
	if error
		div(class="text-danger")=error
	hr

mixin post(post, admin)
	div(class="row post" id=post.id)
		- var time = new Date(post.time);
		- var id = post.id;		
		div

			if post.nsfw == undefined
				a(href=post.image, data-toggle="lightbox")
					img(class="post-image img-responsive col-md-7" src=post.image)
			else
				img(id="nsfw-image" class="post-image img-responsive col-md-7" src="/images/nsfw-image.png" hiding=post.image)

			a(class="post-id text-center" href="/posts/"+post.id) #{id} | #{time.getMonth()}/#{time.getDate()}/#{time.getFullYear()} #{time.getHours()}:#{time.getMinutes()}:#{time.getSeconds()} | #{post.replies} replies
			span(class="post-body text-left col-md-7")!=post.body
			if admin == true
				form(method="POST" action="/admin")
					div(class="form-group")
						input(type="hidden" name="id" value=post.id)
						input(class="btn btn-danger" type="submit" value="Remove")

	hr

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		meta(name="description" content="a single page anonymous imageboard")
		meta(name="author" content="lycaon")

		title Infinite Images

		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css")
		link(rel="styleshet" href="/css/ekko-lightbox.min.css")
		link(rel="stylesheet" href="/css/style.css")
	
	body
		nav(class="navbar navbar-inverse navbar-fixed-top")
			div(class="container-fluid")
				div(class="navbar-header")
					a(class="navbar-brand" href="/") Infinite Images
				div(id="navbar" class="collapse navbar-collapse")
					ul(class="nav navbar-nav")
						li
							a(href="https://twitter.com/lycaontalks") Twitter
						li
							a(href="#github") Github

		div(class="container-fluid")
			block content

		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(type="text/javascript" src="/js/ekko-lightbox.min.js")
		script(type="text/javascript" src="/js/nsfw.js")

		script.
			$(document).on('click', '[data-toggle="lightbox"]', function(event) {
			    event.preventDefault();
			    $(this).ekkoLightbox({
			    	alwaysShowClose: false
			    });
			});
