extends layout.pug

block content
	- var time = new Date(post.time);
	- var id = post.id;
	span(class="post-id") #{id} | #{time.getMonth()}/#{time.getDate()}/#{time.getFullYear()} #{time.getHours()}:#{time.getMinutes()}:#{time.getSeconds()} 
	div=post.body

	a(href="/") Back